@inherits LayoutComponentBase

<div class="top-bar">
    <a href="" class="logo">
        <img src="img/logo.svg" alt="logo">
    </a>

    <NavLink href="" Match="NavLinkMatch.All" class="nav-tab">
        <img src="img/pizza-slice.svg" alt="pizza slice" />
        <div>Get Pizza</div>
    </NavLink>

    <AuthorizeView>
        <NavLink href="myorders" Match="NavLinkMatch.All" class="nav-tab">
            <img src="img/bike.svg" alt="Bike">
            <div>My Orders</div>
        </NavLink>
    </AuthorizeView>

    <LoginDisplay />
</div>

<div class="content">
    @Body    
</div>

